In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/PriceDataSet empty.csv")

In [ ]:
df.head(15)

    weight  price
0      1.0     10
1      2.0     20
2      3.0     25
3      4.0     40
4      5.0     45
5      6.0     75
6      7.0     90
7      NaN    100
8      9.0    115
9     10.0    120
10    11.0    130
11    12.0    132
12     NaN    140
13    14.0    160
14    15.0    165

In [ ]:
df.head(15)

    weight  price
0      1.0     10
1      2.0     20
2      3.0     25
3      4.0     40
4      5.0     45
5      6.0     75
6      7.0     90
7      NaN    100
8      9.0    115
9     10.0    120
10    11.0    130
11    12.0    132
12     NaN    140
13    14.0    160
14    15.0    165

In [ ]:
x= df["weight"].mean()
df ["weight"].fillna (x, inplace=True)
print(df)

       weight  price
0    1.000000     10
1    2.000000     20
2    3.000000     25
3    4.000000     40
4    5.000000     45
5    6.000000     75
6    7.000000     90
7    7.615385    100
8    9.000000    115
9   10.000000    120
10  11.000000    130
11  12.000000    132
12   7.615385    140
13  14.000000    160
14  15.000000    165

In [ ]:
df.drop_duplicates(inplace=True)
print(df)

       weight  price
0    1.000000     10
1    2.000000     20
2    3.000000     25
3    4.000000     40
4    5.000000     45
5    6.000000     75
6    7.000000     90
7    7.615385    100
8    9.000000    115
9   10.000000    120
10  11.000000    130
11  12.000000    132
12   7.615385    140
13  14.000000    160
14  15.000000    165

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
X=df[['weight']].values
y=df['price']

In [ ]:
X[0:10]

In [ ]:
X

#Visualization

In [ ]:
X.max()

In [ ]:
plt.scatter(X,y, marker='+',color='red')
plt.xlabel("Weight")
plt.ylabel("Price")
plt.title("Price prediction")

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25,random_state=1)

In [ ]:
X_test

In [ ]:
y_test

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()  #y=mx+c x y ke ched korche c bindu

In [ ]:
reg.fit(X_train, y_train)  #fit mane train

In [ ]:
reg.predict(X_test)

In [ ]:
y_test

In [ ]:

plt.plot(df['weight'],reg.predict(df[['weight']]))

In [ ]:
plt.scatter(X,y, marker='+',color='red')
plt.xlabel("Weight")
plt.ylabel("Price")
plt.title("Price prediction")
plt.plot(df['weight'],reg.predict(df[['weight']]))

In [ ]:
reg.intercept_

In [ ]:
reg.coef_

In [ ]:
reg.predict(X_test)

In [ ]:
y_test

In [ ]:
b= 11.3674*3 -.018189

In [ ]:
b

In [ ]:
reg.predict([[3]])

In [ ]:
reg.score(X_test,y_test)